<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning text-dark">
            <a class="navbar-brand" href="#">My_Restuarant</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><b>Home</b> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about.html"><b>About</b></a>
                    </li>
                    <li class="nav-item active">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="/Login"><b>Logout</b></a>
                        {% else %}
                        <a class="nav-link" href="/Login"><b>SignIn/Register</b></a>
                        {% endif %}
                    </li>
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="/Register"><b>Register</b></a>
                    </li>-->
                    


                </ul>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 bg-transparent text-dark" type="submit">Search</button>
                </form>-->
            </div>
        </nav>

    </div>
    <div class="container">
        <marquee>
            <h3>Welcome to My Restuarent</h3>
        </marquee>
    </div>
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://source.unsplash.com/1000x300/?biryani" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/1000x300/?friedrice" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://source.unsplash.com/1000x300/?mutton curry" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div>
            <h1>Welcome to My Restaurant</h1>
            <div class="container">
                <h3>Browser Category</h3>
            <!---->
            </div>
        </div>
        <!--About-->
        <div class="about">
            <div class = "container">
                <div class = "wrapper">
                    <div class = "row">
                        <div class = "image-section"><br><br><br><br><br><br><br><br><br>
                            <img src = "chicken dum biryani.jpeg"  >
                        </div>
                        <div class = "content">
                            <h1>About</h1>
                            <h2>My Restuarant</h2>
                            <p>
                                The word restaurant comes from the <b>French verb restaurer,“to restore oneself,”</b><br>
                                and the first true French restaurants, opened decades before the 1789 Revolution,<br>
                                purported to be health-food shops selling one principle dish: bouillon.
                                <br>
                                <br>
                                A restaurant is a place where you can eat a meal and pay for it.<br>
                                In restaurants, your food is usually served to you at your table<br>
                                by a waiter or waitress. The restaurant serves breakfast, lunch,<br>
                                and dinner.The food at the restaurant was good and the waiters were polite.
                                <br>
                                <br>
                                Restaurant culture is a <b>set of values that defines what it means<br>
                                to be in your restaurant environment</b>. This includes elements like<br>
                                your company vision and mission, brand identity, beliefs and norms,<br>
                                systems and processes, and even the language used in your menu,<br>
                                signage, and by your staff.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <footer class="text-center text-light bg-dark py-2">MY Restaurant visakhapatnam | All Rights Reserved </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>