<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- <form>
        <label>Name : </label>
        <input type="text" placeholder="Name">
        <label>Phone Number : </label>
        <input type="text" placeholder="Phone Number"> -->

        {% for table in tables %}
        {{table.Table_number}}
        {% if {{table.Table_availability}} == 'Available' %}
            <button type="button"><a href="/booktable/">Reserve Table</a></button>
        {% else %}
            <p>Reserved</p>
        {% endif %}
        {% endfor %}
    <!-- </form> -->
    </body>    
</html>